@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  font-family: "Fira Code", monospace;
  /* font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif; */
}

.markdown h1 {
  @apply pt-4;
  @apply text-2xl;
  @apply font-bold;
  @apply text-black;
}

.markdown h2 {
  @apply pt-4;
  @apply text-xl;
  @apply font-bold;
  @apply text-black;
}

.markdown h3 {
  @apply pt-4;
  @apply text-lg;
  @apply font-bold;
  @apply text-black;
}

.markdown h4 {
  @apply pt-2;
  @apply text-lg;
  @apply font-bold;
  @apply text-black;
}

.markdown p {
  @apply leading-tight;
  @apply text-gray-600;
}

a {
  @apply text-blue-500;
}

a:hover {
  @apply underline;
}

.markdown img {
  @apply m-auto;
  @apply py-2;
  max-width: 80%;
}

.markdown ol {
  @apply list-decimal pl-6;
}

.markdown ul {
  @apply pl-6;
}

.markdown .math-inline {
  @apply inline;
  text-align: center;
}

/* code */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.code * {
  font-family: "Fira Code", monospace;
}